<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formación Angular - Sesión 3</title>
    <link rel="stylesheet" href="demoApp.css">
</head>

<body ng-app="demoApp">
    <div ng-controller="DemoAppCtrl">
        <table>
            <tr>
                <th ng-repeat="dato in datos" ng-click="ordena(dato.id)">{{ dato.texto }}</th>
            </tr>
            <tr ng-repeat="persona in personas">
                <td ng-repeat="dato in persona">{{ dato }}</td>
            </tr>

        </table>
    </div>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="demoApp.js"></script>
    <script type="text/javascript" src="demoApp-controller.js"></script>

</body>

</html>