<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formación Angular</title>
</head>

<body ng-app>
    <!-- Ejemplo de uso de la directiva ng-hide y ng-show -->
    <div ng-hide="oculto">¿ESTOY OCULTO?
        <input type="text" ng-model="textoInput">{{ textoInput }}</div>
    ¿Ocultar?
    <input type="checkbox" ng-model="oculto">
    <!-- <div ng-show="oculto">¡¡¡ EL INPUT SUPERIOR SE HA OCULTADO !!!</div> -->
    <script type="text/javascript" src="angular.js"></script>
</body>

</html>