{{ textos.filtro }}
<input type="text" ng-model="palabraFiltro[opcion]">
<br>
<br>
<table>
    <tr>
        <th ng-repeat="dato in datos" ng-click="ordena(dato.id)">{{ dato.texto | uppercase }}</th>
        <th> {{ textos.detalles }} </th>
    </tr>
    <tr ng-repeat="persona in personas |filter : palabraFiltro | orderBy : ordenarPor : inverso ">
        <td ng-repeat="(clave, dato) in persona" ng-if="clave!=='imagen'" ng-switch="clave">
            <span ng-switch-when="alta" ng-bind="dato | date"></span>
            <span ng-switch-when="gastos" ng-bind="dato | euro"></span>
            <span ng-switch-when="ciudad" ng-bind="dato | lowercase"></span>
            <span ng-switch-default ng-bind="dato"></span>
        </td>
        <td>
            <a href="#/persona/{{ persona.id }}">{{ textos.informacion }} </a>
        </td>
    </tr>
</table>