/*ng-cloak rules*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}


.pais{
    width: 290px;
    height: 200px;
    background-repeat: no-repeat;
}
.france{
    background-image: url("media/france.png");
}
.spain{
    background-image: url("media/spain.png");
}
.uk{
    background-image: url("media/uk.png");
}
.germany{
    background-image: url("media/germany.png");
}
.italy{
    background-image: url("media/italy.png");
}


/* Hover cell effect! */